<div class="px-4 py-5 my-5 text-center">
  <img src="https://drive.google.com/uc?export=view&id=1ozIcvw3y3Khw2B6KCh4uVq45Nn-UPrcs" class="col-lg-4 col-10 img-fluid img-thumbnail" />
  <h1 class="display-5 fw-bold">Shashank Shekhar</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Frontend Developer with 2+ Years experience and specialisation in Angular application development. Currently learning and practising Node.js and Python to become a full stack developer.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="https://drive.google.com/file/d/1sHyIPBqup98sJOV6HUl71UqcRVAlhDjI/view?usp=sharing" target="_BLANK">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">CV</button>
      </a>
      <a href="https://www.linkedin.com/in/shashankshekhar2k15/" target="_BLANK">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">LinkedIn</button>
      </a>
      <a href="https://github.com/shashankshekhar2909" target="_BLANK">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">GitHub</button>
      </a>
    </div>
  </div>
</div>
